body {
    background-color: lightcyan;
}

.top, p {
    margin-left: 70px;
}

h1 {
    color: green;
    font-size: 40px;
}

h2 {
    color: green;
    font-size: 30px;
}

.ingre, .steps {
    background-color: lightgreen;
    padding: 10px;
}

.ul, .ol {
    background-color: lightgreen;
    padding: 10px;
    margin-bottom: 15px;
}

.ul {
    margin-top: 0;
}

li {
    margin: 10px;
}

.all {
    background-color: #fff;
    padding: 15px;
    margin-left: 70px;
    margin-top: 30px;
}
