h1, h2 {
    color: green;
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

 ul {
    font-size: 24px;
    color: green;
}

.tabl {
    background-color: #fff;
    padding: 10px;
}

body {
    background-color: lightcyan
}

.list {
    margin-top: 10px;
    background-color: lightgreen;
    padding: 10px;
}

.title {
    background-color: lightgreen;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}

li {
    margin: 16px 0;
}